footer {
  width: 100vw;
  background-color: var(--footer-background);
  padding: $vertical-small 0;

  .disclaimer {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 35%;
    height: auto;
  }
}
