header {
  width: 100vw;
  background-color: var(--header-background);
  color: $secondary-color;
  padding: $vertical-padding $horizontal-padding;
  @include flex(flex, column, center, flex-start);

  // logo
  svg {
    width: 40%;
    height: auto;
    margin-bottom: $vertical-padding;

    .svg-logo { fill: var(--header-text); }
    .svg-name { fill: var(--header-title); }
    .svg-race { fill: var(--header-text); }
  }

  .text {
    text-align: center;
    width: 60vw;
    color: var(--header-title);
  }

  @media #{$tablet-portrait} {
    .text{ width: 70vw; }
  }

  @media #{$phone} {
    svg{
      width: 60%;
      margin-bottom: 20px;
    }

    .text{ width: 100%; }
  }
}
