/*
----------------------------------------
Spacing
----------------------------------------
*/

$vertical-padding: 50px;
$vertical-small: 30px;
$horizontal-padding: 9vw;

/*
----------------------------------------
Colors
----------------------------------------
*/
$primary-color: #5F2787;
$secondary-color: #51A3D4;
$tertiary-color: #76CBC7;
$quaternary-color: #332A56;
$white: #F3F1F1;

:root {
  --color-Link: hsl(202, 65%, 63%);
  --header-background: #{$primary-color};
  --header-title: #{$white};
  --header-text: #{$tertiary-color};
  --body-background: white;
  --body-text: hsl(0, 0%, 13%);
  --footer-background: #{$tertiary-color};
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-Link: hsl(202, 65%, 63%);
    --header-background: #{$secondary-color};
    --header-title: #202020;
    --header-text: #{$primary-color};
    --body-background: #202020;
    --body-text: hsl(0, 0%, 87%);
    --footer-background: #{$primary-color};
  }
}

/*
----------------------------------------
Responsive Helpers
----------------------------------------
*/

$tablet: 'screen and (max-width: 1099px) and (min-width: 767px)';
$tablet-portrait: 'screen and (max-width: 939px) and (min-width: 767px)';
$phone: 'screen and (max-width: 766px)';

/*
----------------------------------------
Fonts
----------------------------------------
*/

@font-face {
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Regular'), url('fonts/MYRIADPRO-REGULAR.woff') format('woff');
}

@font-face {
  font-family: 'Myriad Pro Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Semibold'), url('fonts/MYRIADPRO-SEMIBOLD.woff') format('woff');
}

$body-fonts: 'Myriad Pro', Sans-serif;
$header-fonts: 'Myriad Pro Semibold', Sans-serif;